<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <p v-if="characterList.length === 0">There is no Charachter</p>
        <ul v-else>
            <li v-for="char in characterList">{{char.name}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data: () => (
                {
                    characterList: [
                    {name: 'Kamil'},
                    {name: 'Limak'},
                    {name: 'Test'}
                    ]
                }
            )
        }).mount('#app')

    </script>  
</body>
</html>