<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <p v-if="characterList.length === 0">There is no Charachter</p>
        <ul v-else>
            <li v-for="(char, id) in characterList">{{char.name}} <button @click="addToFavorite(char)">Add to favorite</button></li>
        </ul>
        <hr>
        <p>Hey Your favorite Charachters</p>
        <ul>
            <li v-for="char in favoriteCharacters">{{char.name}}</li>
        </ul>
        <hr>
        <p>New Char adding form</p>
        <pre>{{newCharachter}}</pre>

        <label for="newCharName">New Charachter Name </label>
        <input type="text" id="newCharName" v-model="newCharachter.name" @keyup.enter="addNewCharachter">

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data: () => (
                {
                    characterList: [
                    {name: 'Kamil'},
                    {name: 'Limak'},
                    {name: 'Test'}
                    ],
                    favoriteCharacters: [],
                    newCharachter: {
                        name: '',
                    }
                }
            ),
            methods: {
                addToFavorite(char) {
                    if (!this.favoriteCharacters.includes(char)){
                        this.favoriteCharacters.push(char)
                    }
                    else{
                        console.log ('WARNING: Char is already in our favorites')
                    }
                },
                addNewCharachter(){
                    if (!this.favoriteCharacters.includes(this.newCharachter)){
                        this.characterList.push(this.newCharachter);
                        this.newCharachter = { name: "", }
                    }
                },   
        },
        }).mount('#app')

    </script>  
</body>
</html>